/* .LoginPage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
} */

body {
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#cancel {
  text-decoration: none;
}

.Modal {
  width: 500px;
  color: rgb(13, 14, 14);
  background-color: cadetblue;
  margin-top: 100px;
  margin: 10px auto;
  border: 3px solid gray;
  border-radius: 10px;
}

.Modal header {
  color: gray;
  font-size: 26px;
  margin: 20px;
  padding: 10px 5px 0 10px;
}

.Modal > div {
  margin: 20px;
  padding: 10px 10px 20px 20px;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}

.Modal input {
  font-size: 18px;
  margin-bottom: 10px;
}

.Modal footer {
  text-align: right;
  padding: 2px 10px 10px;
}

.Modal button {
  background-color: limegreen;
  color: gray;
  font-size: 18px;
  width: 80px;
  margin: 10px;
  padding: 20px auto;
  border: 1px solid gray;
  border-radius: 5px;
}

.Modal footer button:hover {
  background-color: rgb(2, 166, 207);
  color: rgb(255, 131, 49);
}
