body {
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.Modal {
  width: 500px;
  margin: 10px;
  border: 3px solid gray;
  border-radius: 10px;
}

.Modal header {
  color: gray;
  font-size: 26px;
  padding: 10px 5px 0 10px;
}

.Modal > div {
  margin: 10px 0;
  padding: 10px 10px 20px;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}

.Modal footer {
  text-align: right;
  padding: 2px 10px 10px;
}

.Modal footer button {
  color: gray;
  font-size: 18px;
  width: 80px;
  padding: 10px auto;
  border: 1px solid gray;
  border-radius: 5px;
}

.Modal footer button:hover {
  background-color: gray;
  color: white;
}
